footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15px;
  z-index: 10000;
  /* background: #e30613; */
  background: linear-gradient(
    90deg,
    rgba(0, 169, 255, 1) 0%,
    rgba(0, 67, 255, 1) 100%
  );
}
