* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333;
}

button:hover,
a:hover {
  color: rgba(0, 67, 255, 1);
  /* color: #e30613; */
}

button {
  background: none;
  font-family: "Arial Black", Helvetica, sans-serif;
  z-index: 9999;
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  /* position: absolute; */
  cursor: pointer;
}

.hidden {
  visibility: collapse;
}

.full-screen {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.full-width {
  width: 100%;
}

.thumbnail {
  background: rgba(230, 230, 230, 0.7);
  padding: 10px;
  border-radius: 100%;
  border: 5px solid white;
  pointer-events: all;
  transition: background-color 0.2s ease-in-out;
}

.thumbnail:hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}

/* Remove arrows from number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
